<div class="container">
    <div style="margin-top: -20px; margin-bottom: 12px;">
        <h5 class="modal-title">Edit Job Details</h5>
    </div>
    
  <app-job-form #jobForm [jobId]="jobId" [detailsRoute]="true"></app-job-form>
  <p *ngIf="updateJobError" class="invalidText">There was an error updating the job details. Please try again</p>
  <div class="row" style="margin-bottom: 40px;">
      <div class="col">
          <button type="button" class="btn btn-danger mr-auto" (click)="this.jobForm.retrieveJobDetailsError ? '' : deleteJob();"><i class="fas fa-trash" style="padding-right: 8px"></i>Delete</button>
      </div>
      <div class="col-auto">
          <button type="button" class="btn btn-dark" routerLink="/job-list" style="margin-right: 12px">Back</button>
      </div>
      <div class="col-auto">
          <button type="submit" class="btn btn-dark" (click)="this.jobForm.retrieveJobDetailsError ? '' : validateJobForm();">Apply</button>
      </div>
  </div>
</div>