// .authenticationError {
//   margin-bottom: 8px;
// }

.switchModal {
  margin-bottom: 4px;
}

.accountModal {
  cursor: pointer;
}

.accountModal:hover {
    text-decoration: underline !important;
    color: lightblue !important;
}